
<!DOCTYPE html>
<html>
<head>
<title>My Portfolio | Sean Agyekum</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
.bgimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('{{ url_for("static", filename="spike.jpg") }}');
  min-height: 100%;
}
</style>
</head>
<body>

<!-- Sidebar with image -->
<nav class="w3-sidebar w3-hide-medium w3-hide-small" style="width:40%">
  <div class="bgimg"></div>
</nav>

<!-- Hidden Sidebar (reveals when clicked on menu icon)-->
<nav class="w3-sidebar w3-black w3-animate-right w3-xxlarge" style="display:none;padding-top:150px;right:0;z-index:2" id="mySidebar">
  <a href="javascript:void(0)" onclick="closeNav()" class="w3-button w3-black w3-xxxlarge w3-display-topright" style="padding:0 12px;">
    <i class="fa fa-remove"></i>
  </a>
  <div class="w3-bar-block w3-center">
    <a href="#home" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()">Home</a>
    <a href="#portfolio" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()">Portfolio</a>
    <a href="#about" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()">About</a>
    <a href="#quiz" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()">Quiz</a>
  </div>
</nav>

<!-- Page Content -->
<div class="w3-main w3-padding-large" style="margin-left:40%">

  <!-- Menu icon to open sidebar -->
  <span class="w3-button w3-top w3-white w3-xxlarge w3-text-grey w3-hover-text-black" style="width:auto;right:0;" onclick="openNav()"><i class="fa fa-bars"></i></span>

  <!-- Header -->
  <header class="w3-container w3-center" style="padding:128px 16px" id="home">
    <h1 class="w3-jumbo"><b>Sean Agyekum</b></h1>
    <p>Aspiring Python developer</p>
    <img src="{{ url_for('static', filename='spike.jpg') }}" class="w3-image w3-hide-large w3-hide-small w3-round" style="display:block;width:60%;margin:auto;">
    <img src="{{ url_for('static', filename='spike.jpg') }}" class="w3-image w3-hide-large w3-hide-medium w3-round" width="1000" height="1333">
  </header>

  <!-- Portfolio Section -->
  <div class="w3-padding-32 w3-content" id="portfolio">
    <h2 class="w3-text-grey">My Interests</h2>
    <hr class="w3-opacity">

    <!-- Grid for photos -->
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-half">
        <img src="{{ url_for('static', filename='basketball2.jpg') }}" style="width:100%">
        <img src="{{ url_for('static', filename='burger.jpg') }}" style="width:100%">
        <img src="{{ url_for('static', filename='Favourite game image.jpg') }}" style="width:100%">
      </div>

      <div class="w3-half">
        <img src="{{ url_for('static', filename='football club.png') }}" style="width:100%">
        <img src="{{ url_for('static', filename='garlic bread.jpg') }}" style="width:100%">
        <img src="{{ url_for('static', filename='Holiday image.jpg') }}" style="width:100%">
        <img src="{{ url_for('static', filename='pizza.jpg') }}" style="width:100%">
      </div>
    <!-- End photo grid -->
    </div>
  <!-- End Portfolio Section -->
  </div>

  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-32" id="about">
    <h2>About Me</h2>
    <hr class="w3-opacity">
    <p>
        My name is Sean I am a 16-year-old boy. 
        I am interested in learning how to code and I’m currently learning Python. 
        I also enjoy playing sports like volleyball and basketball with my friends at school. 
        I also enjoy playing video games, which is one reason I am interested in code. 
        I love having new learning opportunities from others who are more knowledgeable than I am.
    </p>
    <h3 class="w3-padding-16">My Hobbies</h3>
    <p class="w3-wide">Basketball</p>
    <div class="w3-light-grey">
      <div class="w3-container w3-center w3-padding-small w3-dark-grey" style="width:75%">75%</div>
    </div>
    <p class="w3-wide">Volleyball</p>
    <div class="w3-light-grey">
      <div class="w3-container w3-center w3-padding-small w3-dark-grey" style="width:95%">95%</div>
    </div>
    <p class="w3-wide">Video Games</p>
    <div class="w3-light-grey">
      <div class="w3-container w3-center w3-padding-small w3-dark-grey" style="width:60%">60%</div>
    </div><br>

    <div class="w3-row w3-center w3-dark-grey w3-padding-16 w3-section">
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">18+</span><br>
        Basketball Games Won
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">35+</span><br>
        Volleyball Games Played
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">408+</span><br>
        Video Game Hours
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">17+</span><br>
        Volleyball Games Won
      </div>
    </div>

   

    <!-- Testimonials -->
    <h3 class="w3-padding-24">Favourite Celebs</h3>
    <img src="{{ url_for('static', filename='Kai cenat.jpg') }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
    <p><span class="w3-large w3-text-black w3-margin-right">Kai Cenat</span> Streamer </p>
    <p>Kai Cenat is a YouTuber/streamer who is enjoyable to watch.</p><br>
   
    <img src="{{ url_for('static', filename='Kendrick lamar.jpg') }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
    <p><span class="w3-large w3-text-black w3-margin-right">Kendrick Lamar</span> Rapper</p>
    <p>Kendrick Lamar released the best song of 2024: ‘Not like us’</p><br>
    
    <img src="{{ url_for('static', filename='Tom holland.jpg') }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
    <p><span class="w3-large w3-text-black w3-margin-right">Tom Holland</span> Actor</p>
    <p>Tom Holland was the lead in the Home series which is my favourite Marvel trilogy</p><br>
    
    <!-- Grid for pricing tables -->
    
    
  <!-- End About Section -->
  </div>

  <!-- Contact Section -->
  <div class="w3-padding-32 w3-content w3-text-grey" id="quiz" style="margin-bottom:64px">
    <h2>Contact Me</h2>
    <hr class="w3-opacity">

    <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> London, UK</p>
      <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: seangyamfi01@gmail.com</p>
    </div>
    
    <!-- Image of location/map -->
    <img src="{{ url_for('static', filename='Quiz-850x354.png') }}" class="w3-image w3-greyscale" style="width:100%;margin:32px 0">
   
    <p>Complete the quiz below:</p>
    <form action="/quiz" method="post" >
        <label for="question1"><strong>1: What is my favourite colour?</strong></label>
        <select id="question1" class="w3-input w3-padding-16 w3-border" name="question1" required>
            <option value="">Please select an option</option>
            <option value="blue">Blue</option>
            <option value="red">Red</option>
            <option value="green">Green</option>
            <option value="orange">Orange</option>
        </select>
        {% if question1_answer %}
            <p>{{ question1_answer }}</p>
        {% endif %}
        <br>

        <label for="question2"><strong>2: What is my favourite food?</strong></label>
        <select id="question2" class="w3-input w3-padding-16 w3-border" name="question2" required>
            <option value="">Please select an option</option>
            <option value="pizza">Pizza</option>
            <option value="cheeseburger">Cheeseburger</option>
            <option value="hotdog">Hotdog</option>
            <option value="chikensandwich">Chicken Sandwich</option>

        </select>
        {% if answer2 %}
            <p>{{ answer2 }}</p>
        {% endif %}
        <br>

        <label for="question3"><strong>3: What is my dream holiday destination?</strong></label>
        <select id="question3" class="w3-input w3-padding-16 w3-border" name="question3" required>
            <option value="">Please select an option</option>
            <option value="japan">Japan</option>
            <option value="france">France</option>
            <option value="usa">USA</option>
            <option value="china">China</option>  
        </select>
        {% if answer3 %}
            <p>{{ answer3 }}</p>
        {% endif %}
        <br>

        <label for="question4"><strong>4: What is my favourite sport?</strong></label>
        <select id="question4" class="w3-input w3-padding-16 w3-border" name="question4" required>
            <option value="">Please select an option</option>
            <option value="basketball">Basketball</option>
            <option value="tenis">Tenis</option>
            <option value="football">Football</option>
            <option value="volleyball">Volleyball</option>
        </select>
        {% if answer4 %}
            <p>{{ answer4 }}</p>
        {% endif %}
        <br>

        <label for="question5"><strong>5: What is my favourite game?</strong></label>
        <select id="question5" class="w3-input w3-padding-16 w3-border" name="question5" required>
            <option value="">Please select an option</option>
            <option value="injustice">Injustice</option>
            <option value="fortnite">Fortnite</option>
            <option value="mortalkombat">Mortal Kombat</option>
            <option value="pokemon">Pokemon</option>
        </select>
        {% if answer5 %}
          <p>{{ answer5 }}</p>
        {% endif %}
        <br>

        <label for="question6"><strong>6: What city do I live in?</strong></label>
        <select id="question6" class="w3-input w3-padding-16 w3-border" name="question6" required>
            <option value="">Please select an option</option>
            <option value="manchester">Manchester</option>
            <option value="london">London</option>
            <option value="glasglow">Glasglow</option>
            <option value="liverpool">Liverpool</option>
        </select>
        {% if answer6 %}
            <p>{{ answer6 }}</p>
        {% endif %}
        <br>

        <label for="question7"><strong>7: What is my favourite animal?</strong></label>
        <select id="question7" class="w3-input w3-padding-16 w3-border" name="question7" required>
            <option value="">Please select an option</option>
            <option value="owl">Owl</option>
            <option value="panther">Panther</option>
            <option value="falcon">Falcon</option>
            <option value="cheetah">Cheetah</option>
        </select>
        {% if answer7 %}
            <p>{{ answer7 }}</p>
        {% endif %}
        <br>

        <label for="question8"><strong>8: Who is my favourite rapper?</strong></label>
        <select id="question8" class="w3-input w3-padding-16 w3-border" name="question8" required>
            <option value="">Please select an option</option>
            <option value="carti">Playboi Carti</option>
            <option value="jcole">J Cole</option>
            <option value="kendrick">Kendrick Lamar</option>
            <option value="drake">Drake</option>
        </select>
        {% if answer8 %}
          <p>{{ answer8 }}</p>
        {% endif %}
        <br>

        <label for="question9"><strong>9: What game would I choose to be in if I could be in a game?</strong></label>
        <select id="question9" class="w3-input w3-padding-16 w3-border" name="question9" required>
            <option value="">Please select an option</option>
            <option value="animalcrossing">Animal Crossing</option>
            <option value="streetfighter">Street Fighter</option>
            <option value="pokemon">Pokemon</option>
            <option value="zelda">Legends Of Zelda</option> 
        </select>
        {% if answer9 %}
            <p>{{ answer9 }}</p>
        {% endif %}
        <br>

        <label for="question10"><strong>10: What is my favourite movie?</strong></label>
        <select id="question10" class="w3-input w3-padding-16 w3-border" name="question10" required>
            <option value="">Please select an option</option>
            <option value="spiderman nwh">Spide-Man: No Way Home</option>
            <option value="spiderman btsv">Spider-Man: Beyond The Spider-Verse</option>
            <option value="endgame">Avengers: Endgame</option>
            <option value="batman">The Batman</option>
        </select>
        {% if answer10 %}
            <p>{{ answer10 }}</p>
        {% endif %}
        <br>
        <button class="w3-button w3-light-grey w3-padding-large" type="submit">
          <i class="fa fa-paper-plane"></i> COMPLETE QUIZ!
        </button>
      </p>
    </form>
  <!-- End Contact Section -->
  </div>  
  
  <!-- Footer -->
  <footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-opacity w3-xlarge" style="margin:-24px">
    <p class="w3-medium">Created by <a href="https://github.com/pythonsean1" target="_blank" class="w3-hover-text-green">Sean Agyekum</a></p>
  <!-- End footer -->
  </footer>
  
<!-- END PAGE CONTENT -->
</div>

<script>
// Open and close sidebar
function openNav() {
  document.getElementById("mySidebar").style.width = "60%";
  document.getElementById("mySidebar").style.display = "block";
}

function closeNav() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>